<div class="navbar navbar-dark border-dark">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary" [routerLink]='["bug-add"]'>Add</button>
    <button type="button" class="btn btn-secondary" [routerLink]='["bug-edit", currentBugId]' [disabled]="!currentBugId">Edit</button>
    <button type="button" class="btn btn-secondary">Delete</button>
  </div>
</div>
<div class="bugs">
  <div class="bug" *ngFor="let bug of bugs; index as i" (mousedown)="selectBug($event, bug)" [class.table-active]="bug.bugId === currentBugId">
    <div class="bug-info">
      <div class="bug-id">ID: {{ bug.bugId | number}}</div>
      <div class="bug-status">{{ bug.statusId | bugStatusName }}</div>
    </div>
    <div class="bug-description">{{ bug.description }}</div>
    <div class="bug-created">Created: {{ bug.dateCreation | date: 'dd.MM.yyyy HH:mm' }}</div>
  </div>
</div>
