<div class="navbar-dark">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary">Add</button>
    <button type="button" class="btn btn-secondary">Edit</button>
    <button type="button" class="btn btn-secondary">Delete</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ bug.bugId | number}}</td>
      <td>{{ bug.description }}</td>
      <td>{{ bug.statusId | bugstatusname }}</td>
    </tr>
  </tbody>
</table>
